<div class="home-content">
  <div class="home-left">
    <div class="profile-home">
      <div class="background-image">
        <div class="profile pointer" routerLink="/profile/{{ currentUser.id }}">
          <div class="profile-img">
            <img src="{{ currentUser.picture }}" alt="profile" />
          </div>
          <div>
            <p class="name">{{ currentUser!.name }}</p>
          </div>
        </div>
      </div>
      <!-- <div class="profile pointer" routerLink="/profile/{{ currentUser.id }}">
        <div class="profile-img">
          <img src="{{ currentUser.picture }}" alt="profile" />
        </div>
        <div>
          <p class="name">{{ currentUser!.name }}</p>
        </div>
      </div> -->
      <div class="details">
        <p class="education">{{ currentUser!.education }}</p>
      </div>
      <div class="connections pointer" routerLink="/myNetwork/2">
        <div><span>My Connections</span></div>
        <div>{{ currentUser!.friends!.length }}</div>
      </div>
      <div class="premium">
        <div>
          <span class="premium-access">Access exclusive tools & insights</span>
        </div>
        <div class="premium-star">
          <span class="premiun-retry"
            ><i class="material-icons-round gold"> hotel_class </i>Retry premium
            Free</span
          >
        </div>
      </div>
      <div class="items">
        <div>
          <div class="items-title">
            <div><i class="material-icons-round"> bookmark </i></div>
            <div><span> My Items</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="popular-tags">
      <div class="section">
        <p class="heading">Recent</p>
        <ul>
          <li *ngFor="let tag of hashtags">
            <div><i class="material-icons-round hashtag">tag</i></div>
            <div>{{ tag }}</div>
          </li>
        </ul>
      </div>

      <div class="section">
        <p class="heading heading-blue">Groups</p>
      </div>
      <div class="section">
        <p class="heading heading-blue">Events</p>
      </div>
      <div class="section">
        <p class="heading heading-blue">Followed Hashtags</p>
        <ul>
          <li *ngFor="let tag of hashtags; index as i">
            <div class="followed-tags" *ngIf="i < 3">
              <div><i class="material-icons-round hashtag">tag</i></div>
              <div>{{ tag }}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="posts">
    <app-post></app-post>
  </div>
  <div class="home-right">
    <div class="news">
      <div class="heading"><span>LinkedIn News</span></div>
      <div class="news-content">
        <ul>
          <li *ngFor="let row of news">
            <div>
              <span class="news-heading">{{ row.heading }}</span
              ><br />
              <span class="time">{{ row.time }}</span>
            </div>
          </li>
        </ul>
        <div class="btn-more">
          <div><span> Show more</span></div>
          <div><i class="material-icons-round"> expand_more </i></div>
        </div>
      </div>
    </div>
    <div class="advertisement">
      <img src="/assets/images/ad.png" alt="advertisement" />
    </div>
    <div class="footer">
      <div class="contact-info">
        <div>
          <span class="contact-line"
            ><span>About</span
            >&nbsp;&nbsp;&nbsp;&nbsp;<span>Accessibility</span>&nbsp;&nbsp;&nbsp;
            <span>Help Center</span></span
          >
        </div>
        <div>
          <span class="contact-line"
            ><span>Privacy & Terms</span>&nbsp;&nbsp;&nbsp;&nbsp;<span
              >Ad Choices</span
            ></span
          >
        </div>
        <div>
          <span class="contact-line"
            ><span>Advertising</span>&nbsp;&nbsp;&nbsp;&nbsp;<span
              >Business Services</span
            ></span
          >
        </div>
        <div>
          <span class="contact-line"
            ><span>Get the LinkedIn app</span>&nbsp;&nbsp;&nbsp;&nbsp;<span
              >More</span
            >
          </span>
        </div>
        <div class="copyright">
          <span class="contact-line"
            ><i class="ms-Icon"></i
            ><span>LinkedIn Corporation © 2022</span></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
