<div class="head">
  <div class="head-left">
    <i class="ms-Icon"></i>
    <div class="search">
      <input class="search-bar" type="text" placeholder="Search" />
      <i class="material-icons-round search-icon">search</i>
    </div>
  </div>
  <nav class="menu">
    <a routerLink="/home">
      <div class="menu-row home">
        <div><i class="material-icons-round"> home </i></div>
        <div class="menu-title"><span>Home</span></div>
      </div>
    </a>
    <a routerLink="/myNetwork/2">
      <div class="menu-row network">
        <div><i class="material-icons-round"> group </i></div>
        <div class="menu-title"><span>My Network</span></div>
      </div>
    </a>
    <div class="menu-row">
      <div><i class="material-icons-round"> business_center </i></div>
      <div class="menu-title"><span>Jobs</span></div>
    </div>
    <div class="menu-row">
      <div><i class="material-icons-round send"> send </i></div>
      <div class="menu-title"><span>Messaging</span></div>
    </div>
    <div class="menu-row">
      <div><i class="material-icons-round"> notifications </i></div>
      <div class="menu-title"><span>Notifications</span></div>
    </div>
    <div class="menu-row" routerLink="/profile/2">
      <div class="header-avatar">
        <img src="/assets/images/nirai.jpeg" alt="me" />
      </div>
      <div class="menu-title"><span>Me</span></div>
    </div>
  </nav>
  <div class="extras">
    <div class="extras-work menu-row">
      <div><i class="material-icons-round"> apps </i></div>
      <div class="menu-title"><span>Work</span></div>
    </div>
    <div><span>Retry Premium free</span></div>
  </div>
</div>
